<%if(typeof helper!='undefined' && helper!=null){%>
<div class="is-mobile is-vcentered is-invisible container-help" id="helpMenu">
    <aside class="menu box menu-video">
        <p class="menu-label">
            Videos
        </p>
        <ul id="help-links" class="menu-list">
        </ul>
    </aside>
</div>
<a class="icon is-large has-text-info is-size-1 is-pulled-right btn-help"><i class='bx bxs-help-circle'></i></a>

<div id="help-content" class="modal modal-helper">
    <div class="modal-background"></div>
    <div class="modal-content">
        <figure class="image is-16by9">
            <progress class="progress is-small is-primary" max="100">15%</progress>
        </figure>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>

<script>

    live('.icon','click', e =>{
        let menu = document.querySelector('#helpMenu');
        if(hasClass(menu,'is-invisible')){
            removeClass(menu,'is-invisible');
        }else{
            addClass(menu,'is-invisible');
        }
    });

    live('.helper','click', e =>{
        e.preventDefault();
        let id = e.target.id
        let modal = document.querySelector('#help-content');
        if(!hasClass(modal,'is-active')){addClass(modal,'is-active')}
        io.socket.post('/help/article/'+id,resData => {
            if(resData){
                let content = modal.querySelector('.image');
                content.innerHTML = '<iframe class="has-ratio" width="1080" height="720" src="'+resData.source+'" frameborder="0" allowfullscreen></iframe>';
            }
        });
    });

    live('.modal-background, .modal-close','click', e =>{
        let modal = document.querySelector('.modal-helper');
        removeClass(modal,'is-active')
    });

    document.addEventListener("DOMContentLoaded", () => {
        let help = document.getElementById('help-links');
        io.socket.post('/help/<%=helper%>',(resData) =>{
            if(resData && resData.length>0){
                for(let link of resData){
                    let elementLi = document.createElement('li');
                    addClass(elementLi,'helper');
                    elementLi.innerHTML = `<a id='${link.id}'>${link.name}</a>`;
                    help.append(elementLi);
                }
            }
        });
    });
</script>
<%}%>