<%if(seller){%>
    <title><%= seller.name %></title>
    <link rel="shortcut icon" type="image/jpg" href="<%=imgurl%>/images/sellers/<%=seller.logo%>"/>
<%}else{%>
    <title>Iridio</title>
    <link rel="shortcut icon" type="image/jpg" href="favicon.ico"/>
<%}%>