<%if(seller){%>
    <title><%= seller.name %></title>
    <link rel="shortcut icon" type="image/jpg" href="<%=imgurl%>/images/sellers/<%=seller.logo%>"/>
<%}else{%>
    <title>Iridio</title>
    <link rel="shortcut icon" type="image/jpg" href="favicon.ico"/>
<%}%>
<meta name="viewport" content="width=viewport-width, initial-scale=1, maximum-scale=1">