<h4 class="title is-4">Bienvenido a tu cuenta</h4>
<hr>
<div class="columns">
    <div class="column">
        <div class="box">
        <article class="message is-small is-info">
            <div class="message-header">
                <p>Mi Cuenta</p>
            </div>
            <div class="message-body">
                Encuentra aquí toda la información relacionada con tus datos personales.
                <br><br>
                <p class="has-text-right"><a href="/account/user" class="button is-info is-small"><strong>Ir</strong></a></p>
            </div>
        </article>
        </div>
    </div>
    <div class="column">
        <div class="box">
        <article class="message is-small is-success">
            <div class="message-header">
                <p>Pedidos</p>
            </div>
            <div class="message-body">
                Toda la información disponible acerca de tus pedidos y productos favoritos.
                <br><br>
                <p class="has-text-right"><a href="/account/orders" class="button is-success is-small"><strong>Ir</strong></a></p>
            </div>
        </article>
        </div>
    </div>
    <div class="column">
        <div class="box">
        <article class="message is-small is-warning">
            <div class="message-header">
                <p>Direcciones</p>
            </div>
            <div class="message-body">
                Administra fácilmente tus direcciones e información para las entregas 
                <br><br>
                <p class="has-text-right"><a href="/addresses" class="button is-small is-warning"><strong>Ir</strong></a></p>
            </div>
        </article>
        </div>
    </div>
</div>
<div class="columns">
    <div class="column">
        <div class="box">
        <article class="message is-small is-danger">
            <div class="message-header">
                <p>Cambios y Devoluciones</p>
            </div>
            <div class="message-body">
                Si requieres solicitar un cambio o devolución. Aquí te ayudamos.
                <br><br>
                <p class="has-text-right"><a href="" class="button is-danger is-small"><strong>Ir</strong></a></p>
            </div>
        </article>
        </div>
    </div>
    <div class="column">
        <div class="box">
        <article class="message is-small is-primary">
            <div class="message-header">
                <p>Descuentos y Promociones</p>
            </div>
            <div class="message-body">
                Cupones de descuento y promociones especiales.
                <br><br>
                <p class="has-text-right"><a href="" class="button is-primary is-small"><strong>Ir</strong></a></p>
            </div>
        </article>
        </div>
    </div>
    <div class="column">
        <div class="box">
        <article class="message is-small is-dark">
            <div class="message-header">
                <p>Ayuda</p>
            </div>
            <div class="message-body">
                Información y ayuda sobre las preguntas más frecuentes.
                <br><br>
                <p class="has-text-right"><a href="" class="button is-small is-dark"><strong>Ir</strong></a></p>
            </div>
        </article>
        </div>
    </div>
</div>
<hr>
<br><br>