<div class="container">
	<div class="logo-bitpoint">
    <img width="200" height="98" src="https://bitpointlatam.com/wp-content/uploads/2022/01/logoblanco-1.png" class="img-bitpoint" alt="BITPOINT LATAM Exchange de Criptomonedas">
  </div>
	<hr>
	<div class="columns is-gapless">
		<div class="column">
			<div class="box">
        <div class="columns is-gapless">
          <div class="column">
            <div class="text-box-content text dark">
              <div class="text-inner text-center">
                <h1 style="text-align: left;">
                  <span style="font-size: 358%;color: #575757;font-family: poppins;line-height: 1;">Compra&nbsp; y vende cripto con <strong>tu moneda local</strong></span>
                </h1>
                <p class="thin-font" style="text-align: left;">
                  <span style="color: #808080; font-size: 130%;">Invierte fácil y seguro en el exchange cripto #1 en la región. Obtienes beneficio por pertenecer a 1Ecommerce.</span>
                </p>
                <br>
                <div class="col medium-7 small-12 large-7">
                  <div class="col-inner text-left">
                    <a href="https://trade.bitpointlatam.com/signup?utm_source=1ecommerce&utm_medium=backoffice" target="_blank" class="button is-primary is-light is-rounded">
                      <span>Crear cuenta gratis</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <img width="302" height="26" style="margin-left: 70px;" src="https://bitpointlatam.com/wp-content/uploads/2021/11/BANDERAS.png" class="attachment-large size-large" alt="" loading="lazy" srcset="https://bitpointlatam.com/wp-content/uploads/2021/11/BANDERAS.png 302w, https://bitpointlatam.com/wp-content/uploads/2021/11/BANDERAS-300x26.png 300w" sizes="(max-width: 302px) 100vw, 302px">
            <img loading="lazy" class="alignnone size-full wp-image-12198" src="https://bitpointlatam.com/wp-content/uploads/2020/12/GIF1.gif" alt="" width="600" height="450">
          </div>
        </div>
			</div>
		</div>
	</div>
</div>
