<div class="container">
    <% if (error != undefined || error != null) { %>
      <div class="notification is-danger is-light" id="error">
          <%= error %>
      </div>
    <% } %>
    <h4 class="title is-4">Importar Productos vía CSV</h4>
    <hr>
    <form action="/import" method="POST" enctype="multipart/form-data">
    <div class="columns is-gapless">
        <div class="column">
            <div class="box">  
                <div class="field">
                    <label class="label">Tipo de Importación</label>
                    <div class="select is-fullwidth">
                        <select name="entity" required>
                            <option value="Product">Productos</option>
                            <option value="ProductVariation">Variaciones de Producto</option>
                            <option value="ProductImage">Imagenes de Producto</option>
                        </select>
                    </div>
                </div>
                <div class="field">
                    <div id="file-loader" class="file has-name is-fullwidth">
                    <label class="file-label">
                        <input class="file-input" required accept=".csv" type="file" id="csv" name="csv" />
                        <span class="file-cta">
                        <span class="file-icon">
                            <i class="bx bx-upload"></i>
                        </span>
                        <span class="file-label">
                            Archivo CSV
                        </span>
                        </span>
                        <span class="file-name has-text-grey">
                        Cargar Archivo a Procesar
                        </span>
                    </label>
                    </div>
                </div>
                <br>
                <div class="control buttons is-right">
                    <button id="process" type="submit" class="button is-primary"><i class="bx bx-plus-circle"></i>&nbsp;Importar Archivo</button>
                </div>                                
            </div>
        </div>
        <div class="column">
            <div class="container is-fluid">
                <div class="loading"></div>
            <%if(typeof resultados === 'object'){%>
                <br>
                <h6 class="title is-6">Resultados del Proceso</h6>
                <hr>
                <div class="notification is-primary">
                    Se han procesado un total de <%=resultados.items.length%> registros.
                </div>
                <%if(resultados.errors !== undefined && resultados.errors.length>0){%>
                    <div class="notification is-danger">
                        <p>Hemos identificado <%=resultados.errors.length%> error(es).</p>
                        <br>
                        <div class="container is-fluid">
                            <ol>
                            <% resultados.errors.forEach(error =>{%>
                                <li><%=error%></li>
                            <%})%>
                            </ol>
                        </div>
                    </div>
                <%}%>
            <%}%>
            </div>
        </div>
    </div>
    </form>
  </div>
  <script>
    const fileInput = document.querySelector('#file-loader input[type=file]');
    fileInput.onchange = () => {
    if (fileInput.files.length > 0) {
        const fileName = document.querySelector('#file-loader .file-name');
        fileName.textContent = fileInput.files[0].name;
    }
    };
    live('#process','click',e=>{
        let box = document.querySelector('.box').parentNode;
        addClass(box,'is-hidden');
        document.querySelector('.loading').innerHTML='<br><p>Por favor espera, estamos procesando el archivo. Tomará unos minutos.</p><br><progress class="progress is-small is-primary" max="100">15%</progress>';
    });
  </script>