<div class="columns is-centered">
  <div class="column is-6">
    <div class="container">
        <% if (error != undefined || error != null) { %>
          <div class="notification is-danger is-light" id="error">
              <%= error %>
          </div>
        <% } %>
        <br><br>
        <div class="box">
            <form method="POST" action="/login" id="login-form">
            <input type="hidden" <%if(typeof referer!=='string'){%>value="/"<%}else{%>value="<%=referer%>"<%}%> name="referer" />
            <input type="hidden" name="facebookToken" value="" />
            <input type="hidden" name="facebookName" value="" />
              <a class="link is-pulled-right" href="/register<%if(typeof referer==='string'){%>?referer=<%=referer%><%}%>">Crear una cuenta</a>
              <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" name="emailAddress" type="email" required placeholder="Ingresa Email" />
                  <span class="icon is-small is-left">
                    <i class="bx bx-envelope"></i>
                  </span>
                </div>
              </div>
              <label class="label">Contraseña<a class="link is-pulled-right has-text-weight-normal" href="/forgot">Olvidé mi contraseña </a></label>
              <div class="field has-addons">
                <p class="control has-icons-left is-expanded">
                <input class="input pass" name="password" type="password" required placeholder="Contraseña Ver / Ocultar" autocomplete="no-fill">
                <span class="icon is-small is-left">
                    <i class='bx bxs-lock-alt'></i>
                </span>
                </p>
                <p class="control" id="ojo">
                    <a class="button" id="eye">
                        <i class='bx bx-low-vision' ></i>
                    </a>
                </p>
            </div>
            <div class="columns">
              <div class="column">
                <div class="field is-grouped">
                  <div class="control">
                    <button id="enter" class="button is-info">Entrar</button>
                  </div>
                  <div class="control">
                    <a href="/" id="cancel" class="button is-light">Cancelar</a>
                  </div>
              </div>
              </div>
              <div class="column">
                <p class="has-text-right">
                  <a href="#" id="facebook" class="button is-link is-outlined is-fullwidth">
                    <span class="icon is-size-4">
                      <i class='bx bxl-facebook' ></i>
                    </span>
                    &nbsp;&nbsp;&nbsp;Entrar con Facebook
                  </a>
                </p>
              </div>
            </div>
            </form>
          </div>
          <br><br>
    </div>
  </div>
</div>
<script>
  live('#eye','click',e =>{
        let pass = document.querySelector('.pass');
        if(pass.type==='password'){
            pass.type='text';
            addClass(document.querySelector('#ojo > .button'),'is-danger');
        }else{
            pass.type='password';
            removeClass(document.querySelector('#ojo > .button'),'is-danger');
        }
    });

    live('#facebook','click',e=>{
      e.preventDefault();
      FB.getLoginStatus(function(response) {
      if (response.status == 'connected') {
        getCurrentUserInfo(response);
      } else {
        FB.login(function(response) {
          if (response.authResponse){
            getCurrentUserInfo(response)
          } else {
            let node = document.querySelector('#login-form').parentNode.parentNode;
            let msg = document.createElement('div');
            msg.innerHTML = 'Login con Facebook Cancelado';
            msg.id='error';
            addClass(msg,'notification')
            addClass(msg,'is-danger')
            addClass(msg,'is-light')
            node.insertBefore(msg, node.firstChild)
          }
        }, { scope: 'public_profile,email' });
      }
    });

      function getCurrentUserInfo(r) {
        FB.api('/me',{"fields":"id,name,birthday,email,about,cover"}, function(userInfo) {
          userInfo.accessToken = r.authResponse.accessToken;
          document.querySelector('input[name="facebookToken"]').value=userInfo.accessToken;
          document.querySelector('input[name="facebookName"]').value=userInfo.name;
          document.querySelector('input[name="emailAddress"]').value=userInfo.email;
          document.querySelector('input[name="password"]').value=userInfo.id;
          document.querySelector('#login-form').submit();
        });
      }
    });
</script>