<script src="https://cdnjs.cloudflare.com/ajax/libs/pubsub-js/1.9.0/pubsub.min.js" integrity="sha512-uBtVltNBUq45IPe/JWfSr1t6bWcpivYh/EJfQxZQ8jVqI6olmUfDrOscYHSoZnmJJpHe1cWZTupZ1SFgQaLyQw==" crossorigin="anonymous"></script>
<% let printed = []; let flag = false; %>
<div class="container">
      <div class="pageloader is-active"><span class="title">Buscando Ordenes ...</span></div>
      <p style="text-align: right;margin-right: 10px;">
        <a href="/order/report" class="button is-primary is-size-7"><i class='bx bx-download is-size-5'></i>&nbsp;&nbsp;Descargar Pedidos</a>
      </p>
      <div class="table-container">
        <table class="table is-hoverable is-size-7" id="orders-table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Canal</th>
                <th scope="col">Referencia</th>
                <th scope="col">Manifested</th>
                <th scope="col">Medio de Pago</th>
                <th scope="col">Cliente</th>
                <th scope="col">Estado</th>
                <th scope="col">Total</th>
                <th scope="col">Fecha</th>
                <%if(req.session.user.rights.name=='superadmin' || req.session.user.rights.name=='admin'){%>
                  <th scope="col">Seller</th>
                <%}%>
                <th scope="col">Opciones</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
      </div>
      <script>
        let datatable = new simpleDatatables.DataTable('#orders-table',{
          searchable:true,
          sortable:true,
          paging:true,
          perPageSelect:[5,10,20,30,50],
          perPage:50,
          labels: {
            placeholder: "Buscar...",
            perPage: "{select} registros por página",
            noRows: "No se encontraron datos",
            info: "Mostrando {start} a {end} de {rows} registros",
          }
        });

        let pages = parseInt(<%= pages; %>);
    
        let ordersQuery = (page) => {
          if(page>pages){
            return;
          }else{
            io.socket.get('/ordersquery/'+page, p =>{
              let loader = document.querySelector('.pageloader');
              if(hasClass(loader,'is-active')){
                removeClass(loader,'is-active');
              }
              datatable.rows().add(p);
              ordersQuery(page+=1);
            });
          }
        };
        
        if(pages>0){
          ordersQuery(1);
        }else{
          let loader = document.querySelector('.pageloader');
          if(hasClass(loader,'is-active')){removeClass(loader,'is-active');}
        }

        live('.trackingCrossDocking','click', e => {
          e.preventDefault();
          const tracking = e.target.getAttribute('tracking')
          io.socket.get(`/shipmentcrossdocking/${tracking}`, resData =>{
            if (resData) {
              const fileWindow = window.open();
              fileWindow.document.write(
                `<title>Visualisación</title>
                <embed src="data:text/html;base64,${resData}" width="922"; height="800">`
              );
              fileWindow.focus();
              fileWindow.print();
              fileWindow.document.close();
            }
          });
        });
        
      </script>
</div>