<%if(content){%>
<div class="container">
    <div class="columns is-centered is-gapless">
        <div class="column">
            <%-content %>
        </div>
    </div>
</div>
<script>
    live('a','click',e =>{
      for(let s of document.querySelectorAll('.terms')){
        addClass(s,'is-hidden');
      }
      let obj = document.querySelector('#'+e.target.getAttribute('target'))
      removeClass(obj,'is-hidden')
    })
</script>
<%}%>