<% if (req.query.error !== undefined) { %>
    <div class="notification is-danger is-light" id="error">
      <button class="delete"></button>
        <%= req.query.error %>
    </div>
  <% } %>
<div class="container">
<div class="box">
    <h4 class="title is-4">Creación de Cuenta</h4>
    <hr>
    <form id="register-form" method="POST" action="/register">
        <input type="hidden" name="token" />
        <input type="hidden" name="referer" value="<%=referer%>"/>
        <div class="columns">
            <div class="column">
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" name="fullname" type="text" required placeholder="Nombre">
                        <span class="icon is-small is-left">
                            <i class='bx bx-rename'></i>
                        </span>
                    </p>
                    </div>
            </div>
            <div class="column">
                <div class="field has-addons">
                    <p class="control">
                      <span class="select">
                        <select required name="dnitype">
                         <option value="CC">CC</option>
                         <option value="CE">CE</option>
                         <option value="NIT">NIT</option>
                         <!--<option value="PPN">PPN</option>
                         <option value="SSN">SSN</option>
                         <option value="LIC">LIC</option>
                         <option value="DNI">DNI</option>-->
                        </select>
                      </span>
                    </p>
                    <p class="control has-icons-left is-expanded">
                        <input class="input" required name="dni" type="number" placeholder="Número de Identificación">
                        <span class="icon is-small is-left">
                            <i class='bx bx-id-card' ></i>
                        </span>
                    </p>
                  </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="field">
                    <p class="control has-icons-left">
                    <input class="input" name="email" type="email" required placeholder="Email">
                    <span class="icon is-small is-left">
                        <i class="bx bxs-envelope"></i>
                    </span>
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="field has-addons">
                    <p class="control">
                      <span class="select">
                        <select required name="country">
                          <% countries.forEach((country) =>{ %>
                            <% if(country.active){ %>
                            <option class="is-uppercase" value="<%=country.id%>">+<%=country.prefix%></option>
                            <%}%>
                          <% });%>
                        </select>
                      </span>
                    </p>
                    <p class="control has-icons-left is-expanded">
                        <input class="input" required name="mobile" type="number" placeholder="Número Móvil">
                        <span class="icon is-small is-left">
                            <i class='bx bx-mobile'></i>
                        </span>
                    </p>
                  </div>                  
            </div>
        </div>
    <div class="field has-addons">
        <p class="control has-icons-left is-expanded">
        <input class="input pass" name="password" type="password" minlength="6" required placeholder="Contraseña Ver / Ocultar" autocomplete="no-fill">
        <span class="icon is-small is-left">
            <i class='bx bxs-lock-alt'></i>
        </span>
        </p>
        <p class="control" id="ojo">
            <a class="button" id="eye">
                <i class='bx bx-low-vision' ></i>
            </a>
            </p>
    </div>
    <div class="field">
        <p class="control has-text-align-right">
        <button type="submit" id="submit-register" class="button is-info">
            Crear una Cuenta
        </button>
        </p>
    </div>
    </form>
</div>
</div>
<script src="https://www.google.com/recaptcha/api.js?render=6LfK2-kUAAAAAHsiKw5JwC4Dd7AZYn3M9qmdJXY1"></script>
<script>
    live('#eye','click',e =>{
        let pass = document.querySelector('.pass');
        if(pass.type==='password'){
            pass.type='text';
            addClass(document.querySelector('#ojo > .button'),'is-danger');
        }else{
            pass.type='password';
            removeClass(document.querySelector('#ojo > .button'),'is-danger');
        }
    })

   live('#submit-register','click', e => {
        e.preventDefault();
        if(validateForm(document.querySelector('#register-form'))){
            grecaptcha.execute('6LfK2-kUAAAAAHsiKw5JwC4Dd7AZYn3M9qmdJXY1', {action: 'register'}).then(token => {
                document.querySelector('input[name="token"]').value=token;
                let rform = document.querySelector('#register-form');
                rform.submit();
            });
        }
    });
</script>