<% if (error !== undefined && error !== null) { %>
    <div class="notification is-danger is-light" id="error">
      <button class="delete"></button>
        <%= error %>
    </div>
<% } %>
<div class="container">
    <div class="box">
        <form id="verify-form" method="POST" action="/verify">
            <input type="hidden" name="vemail" value="<%=session.user.emailAddress%>"/>
            <div class="field">
                <h4 class="title is-size-4">Verifica tu correo</h4>
                <h2 class="subtitle is-size-6">Ingresa el Código que enviamos para validar tu cuenta</h2>
                <hr>
            </div>
            <div class="field">
                <div class="control">
                    <div class="columns is-mobile">
                        <div class="column is-3"></div>
                        <div class="column is-1"><input class="input is-info has-text-centered" name="code1" type="text" pattern="^\d{1}" maxlength="1" required placeholder="0" autocomplete="no-fill"></div>
                        <div class="column is-1"><input class="input is-info has-text-centered" name="code2" type="text" pattern="^\d{1}" maxlength="1" required placeholder="0" autocomplete="no-fill"></div>
                        <div class="column is-1"><input class="input is-info has-text-centered" name="code3" type="text" pattern="^\d{1}" maxlength="1" required placeholder="0" autocomplete="no-fill"></div>
                        <div class="column is-1"><input class="input is-info has-text-centered" name="code4" type="text" pattern="^\d{1}" maxlength="1" required placeholder="0" autocomplete="no-fill"></div>
                        <div class="column is-1"><input class="input is-info has-text-centered" name="code5" type="text" pattern="^\d{1}" maxlength="1" required placeholder="0" autocomplete="no-fill"></div>
                        <div class="column is-1"><input class="input is-info has-text-centered" name="code6" type="text" pattern="^\d{1}" maxlength="1" required placeholder="0" autocomplete="no-fill"></div>
                        <div class="column is-3"></div>
                    </div>
                </div>
            </div>
            <br>
            <div class="field">
                <div class="control has-text-centered">
                <button id="submit-verify" class="button is-success">
                    Verificar Email
                </button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="https://www.google.com/recaptcha/api.js?render=6LfK2-kUAAAAAHsiKw5JwC4Dd7AZYn3M9qmdJXY1"></script>
<script>
    live('#submit-verify','click',e => {
        e.preventDefault();
        let vform = document.querySelector('#verify-form');
        if(validateForm(vform)){
            vform.submit();
        }
        //io.socket.put('/register',{email:mail,verification:code});
    });
</script>