<p style="margin-bottom: 25px;">Cordial bienvenida, <%= fullName %>!</p>
<p style="margin-bottom: 25px;">Casi estamos listos para continuar. Por Seguridad, enviamos este link para verificar la autenticidad de tu cuenta y darte acceso a tu registro como empresa:</p>
<div style="margin-bottom: 25px; text-align: center;">
    
    <a id="submit-register" href="<%=authlink%>" target="_blank">Click aquí</a>
    <!--<a style="background-color: #00ACC4; display: inline-block; font-size: 1.1em; color: #fff; padding: 10px 35px 10px; font-weight: 500; text-decoration: none; border-radius: 7px;" href="#">Confirm email</a>-->
</div>



<p style="margin-bottom: 25px;">Una vez ingreses a este enlace, podrás ingresar todos los datos que necesitamos para habilitarte como empresa.</p>
<p style="margin-bottom: 5px;">Cordialmente,</p>
<p style="margin-top: 0px;">Equipo Iridio</p>

<script>
   live('#submit-register','click', e => {
        e.preventDefault();
        // if(validateForm(document.querySelector('#register-form'))){
        //     grecaptcha.execute('6LfK2-kUAAAAAHsiKw5JwC4Dd7AZYn3M9qmdJXY1', {action: 'register'}).then(token => {
        //         document.querySelector('input[name="token"]').value=token;
        //         let rform = document.querySelector('#register-form');
        //         rform.submit();
        //     });
        // }
        console.log('hola');
    });
</script>