.button{font-weight: bold;}
.menu{padding:7px 0px 7px 10px;}
.menu-label{
    font-family: $family-sans-serif;
    font-weight:700;
}
.menu-label:hover{
  cursor:pointer;
}
.manufacturer-logo{
    max-height: 55px;
}

.options-menu{
    padding: 5px;
}

.options-menu i{
    color: gray;
}

.options-menu i:hover{
    cursor:pointer;
}

.action:hover{
    cursor:pointer;
    color:green;
}

.bx-check-circle{color:green;}
.bx-x-circle{color:red;}
.bx-check-circle:hover{
    cursor:pointer;
    color:black;
}
                      
.bx-x-circle:hover{
    cursor:pointer;
    color:black;
}
.percentage{
    font-weight: 900;
}
.color-container{
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
}

.image-centered{
    display: inline-block;
    width: 256px !important;
    height: 256px !important;
    max-height: 256px;
    overflow-y: hidden;;
}

.image-ed{
    display: inline-flex;
    margin: 4px;
    border: solid 1px lightgray;
}

.image-cover{
    border:solid 2px gray;
    box-shadow: 2px 4px lightgray;
}

.image-cover:before{
    position: absolute;
    text-align: center;
    content: 'PRINCIPAL';
    text-transform: capitalize;
    background-color:gray;
    min-width: 100%;
    height: 15px;
    font-size:0.7em;
    color:#FFF;
    font-weight: bold;
}
.old-price{
    text-decoration: line-through;
}

.description{
    text-align: justify;
    margin:3px;
}

.media-left > figure:hover{
    cursor:pointer;
}

.cash-logo{
    width: 58px;
    margin: 0 3px 0 3px;
}

.cash-logo:hover{
    cursor:pointer;
}

.grayscale{
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

.dropdown.is-fullwidth {
    display: flex;

    .dropdown-trigger,
    .dropdown-menu {
        width: 100%;
    }
    .button {
        display: flex;
        width: 100%;
        justify-content: space-between;
        border: solid 1px #3595d9;
    }

}

.card-catalog{
    display: inline-block;
}

@media only screen and (max-width: 483px){
    .card-catalog{
        width:48%;
        margin: 2px;
    }
    .color-container{
        width: 10px;
        height: 10px;
    }
    .brand{
        display: inline-block;
        margin-bottom: 0px !important;
    }
    .gender{
        display: inline-block;
    }
    .subcat{
        padding:3px 0px 3px 0px;
    }
}

@media only screen and (min-width: 484px){
    .card-catalog{
        width:31%;
        margin:2px;
    }
    .subcat{
        padding:3px 0px 3px 0px;
    }
}

@media only screen and (min-width: 1024px){
    .card-catalog{
        width:24%;
        margin: 2px;
    }
}

.is-x-small{
    font-size: small;
}
.front-payment{
    width: 50px;
}

.tree-toggler:hover{
    cursor:pointer;
}

/* Chrome, Safari, Edge, Opera */
input.code::-webkit-outer-spin-button,
input.code::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.code {
  -moz-appearance: textfield;
}

#filter-title:hover{
    cursor:pointer;
    color:#3595d9;
}

.o-x-h{
    overflow-x: hidden;
}

#tabs-with-content .tabs:not(:last-child) {
    margin-bottom: 0;
  }
  
#tabs-with-content .tab-content {
padding: 1rem;
display: none;
}
  
#tabs-with-content .tab-content.is-active {
display: block;
}

.menu-title:hover{
    cursor: pointer;
}

.container-chart {
    margin-top: 1.0rem;
}

.product-image {
    float: left;
}

.list-item {
    width: 100%;
    display: table !important;
    padding: 0.8em 1em !important;
}

.product-description {
    width: 50%;
    display: table;
    margin-left: 20px;
    float: left;
    font-size: 12px;
}

.product-sku {
    float: right;
    width: 25%;
    font-size: 12px;
    font-weight: bold;
}

.section-dashboard {
    padding: 0rem 1.5rem;
}

.container-scroll {
    max-height: 550px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

.card-logistic {
    width: 70%;
}

.subtitle-card {
    font-size: 1rem !important;
}

.radius-card {
    border-radius: 1.7rem;
}

.input-datepiker {
    background: #fff;
    margin-left: auto;
    padding: 1px;
    margin-right: 2px;
}

.icon-loading {
    font-size: 50px;
}

.div-loading {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(70vh);
    margin: 0 auto;
    width: 60px;
}

.boder-foot {
    border: none !important;
}

.message-content {
    font-size: 12px;
    line-height: 2;
    font-weight: 500;
    margin-bottom: 0 !important;
}

.message-answer {
    margin-left: 40% !important;
    color: #050505 !important;
}

.message-left {
    flex-shrink: 1;
    display: grid;
    margin-top: 8px;
}

.message-right {
    font-size: 13px;
    font-weight: 700;
}

.buttons-answer {
    margin-top: 10px;
}

.title-product {
    border-bottom: 1px solid #E6EAEE;
}

.markeplace-categories {
    width: 100%;
}

.title-markeplace {
    margin-top: 22px;
}

.img-multiple {
    border: 2px solid #00C4A7;
}

.provider-items{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.icon-input-left{
    color: #4e4e4e;
    height: 2em;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 2em;
    z-index: 4;
    left: 0;
    align-items: center;
    display: inline-flex;
    justify-content: center;
}

.is-mediumwidth {
    width: 50% !important;
}

.image-integration {
    height: 30px !important;
}

.boxmessage {
    display: table-cell !important;
    padding: 0px !important;
    height: 400px !important;
}

.images-message {
    flex: none;
}

.button-message {
    background-color: rgb(104, 104, 104); 
    border-radius: 90px;
    height: 60px;
    width: 60px;
}

.container-message {
    display: table-cell !important;
    left: 10px;
    width: 100%;
}

.size-icon {
    width: 2.1em !important;
}

article.post {
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #E6EAEE;
}

.media-content p {
    font-size: 12.5px;
    font-weight: 500;
    color: #8F99A3;
}

article.post:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.size-icon-back {
    width: 50px !important;
    height: 30px !important;
}

.bubble {
    padding: 8px 12px;
    background-color: #fff;
    -o-box-shadow: 0 0 2px rgba(0,0,0,.13);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    border-radius: 20px 20px 20px 0;
    position: relative;
    margin-left: 16px;
    max-width: 500px;
}

.flex-row-reverse {
    background-color: #e4e7f6;
    border-radius: 20px 20px 0 20px;
}

.title-questions {
    margin-left: 25px;
    font-weight: 600;
}

.time-questions {
    margin-right: 30px;
}

.images-message [data-badge]::after {
    display: inline-block;
    position: absolute;
    margin: 0;
    padding: .1rem .25rem;
    text-align: center;
    white-space: nowrap;
    line-height: 1;
    background: #fb0436;
    background-clip: padding-box;
    box-shadow: 0 0 0 1px #fff;
    color: #fff;
    content: attr(data-badge);
    z-index: 4;
}

.images-message [data-badge]::after {
    min-width: 1rem;
    min-height: 1rem;
    font-size: .75rem;
    top: 5px;
    right: 6px;
    bottom: auto;
    left: auto;
    -webkit-transform: translate(50%,-50%);
    transform: translate(50%,-50%);
}

.images-message [data-badge].has-badge-rounded::after {
    border-radius: 290486px;
}

.text-notification {
    background-color: white;
    border-radius: 5px;
    font-weight: 600;
}

.nested.dropdown {
    &:hover > .dropdown-menu {
      display: block;
    }
    .dropdown-menu {
      top: -15px;
      margin-left: 100%;
    }
    .dropdown-trigger {
      button {
        padding: 0px 0px;
        border: 0px;
        font-size: 14px;
        font-weight: 400;
        height: 2em;
        min-width: 100%;
      }
    }
  }