@charset "utf-8";
@use "sass:math";
// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$family-sans-serif: "Montserrat", sans-serif;
$size-8: 0.625rem;

// 1Ecommerce Colors
$blue: #006BF8; //Para botones y hover 
$grey: #707070; //Para textos como titulo
$grey-light: #898989; //Para textos normales
$blue-light: #6CA0FF; //Para resaltar (En caso de link o hover de letras)
$blue-dark: #0046F8; //Para resaltar botones que ya están en #006BF8, si al pasar por encima se necesita resaltar que ya esta presionado o se va a hacer, ejemplo : botón descargar guía que ya es azul "medio" al presionarlo pasa al azul más oscuro.
$cyan: #00a7ff;

$primary: $blue;
$info: $cyan;

$button-hover-color:$blue-dark;

/*! bulma.io v0.8.0 | MIT License | github.com/jgthms/bulma */
@import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/bulma-switch/src/sass/index.sass";
@import "../../node_modules/bulma-pageloader/dist/css/bulma-pageloader.sass";
@import "../../node_modules/bulma-calendar/src/sass/index.sass";
@import "../../node_modules/@creativebulma/bulma-badge/src/sass/index.sass";

@import 'global.scss';
