<div class="tabs is-boxed">
  <ul>
    <li class="tab is-active" onclick="openTab(event,'Sales')">
      <a>
        <span class="icon is-small"><i class="bx bxs-shopping-bag" aria-hidden="true"></i></span>
        <span>Ventas</span>
      </a>
    </li>
    <li class="tab" onclick="openTab(event,'Inventory')">
      <a>
        <span class="icon is-small"><i class="bx bxs-purchase-tag" aria-hidden="true"></i></span>
        <span>Inventario</span>
      </a>
    </li>
    <li class="tab" onclick="openTab(event,'Logistics')">
      <a>
        <span class="icon is-small"><i class="bx bxs-package" aria-hidden="true"></i></span>
        <span>Logística</span>
      </a>
    </li>
    <li class="tab" onclick="openTab(event,'Account')">
      <a>
        <span class="icon is-small"><i class="bx bxs-dollar-circle" aria-hidden="true"></i></span>
        <span>Estado de Cuenta</span>
      </a>
    </li>
    <div id="reportrange" class="is-right input-datepiker ">
      <i class="bx bx-calendar"></i>&nbsp;
      <span></span> <i class="bx bx-caret-down"></i>
    </div>
  </ul>
</div>
<div class="loading">
</div>
<div class="container" id="containerDashboard">
  <div id="Sales" class="content-tab" >
    <section class="section-dashboard">
      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <div class="card tile is-child radius-card">
            <div class="card-content">
              <div class="level is-mobile">
                <div class="level-item">
                  <div class="is-widget-label"><h3 class="subtitle is-spaced">
                    Ventas totales
                  </h3>
                    <h1 class="title" id="totalSales"></h1>
                  </div>
                </div>
                <div class="level-item has-widget-icon">
                  <div class="is-widget-icon"><span class="icon has-text-primary is-large"><i class='bx bxs-badge-dollar bx-md'></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tile is-parent">
          <div class="card tile is-child radius-card">
            <div class="card-content">
              <div class="level is-mobile">
                <div class="level-item">
                  <div class="is-widget-label"><h3 class="subtitle is-spaced">
                    Total Productos Vendidos
                  </h3>
                    <h1 class="title" id="totalProducts"></h1>
                  </div>
                </div>
                <div class="level-item has-widget-icon">
                  <div class="is-widget-icon"><span class="icon has-text-info is-large"><i class='bx bxs-shopping-bags bx-md'></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tile is-parent">
          <div class="card tile is-child radius-card">
            <div class="card-content">
              <div class="level is-mobile">
                <div class="level-item">
                  <div class="is-widget-label"><h3 class="subtitle is-spaced">
                    Total Órdenes
                  </h3>
                    <h1 class="title" id="totalOrders"></h1>
                  </div>
                </div>
                <div class="level-item has-widget-icon">
                  <div class="is-widget-icon"><span class="icon has-text-success is-large"><i class='bx bx-cart-alt bx-md'></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            <span class="icon"><i class="bx bx-line-chart"></i></span>
            Evolución ventas diarias de la semana
          </p>
          <a href="#" class="card-header-icon">
            <span class="icon"><i class="bx bx-line-chart"></i></span>
          </a>
        </header>
        <div class="card-content">
          <div class="chart-area">
            <div style="height: 100%;">
              <canvas id="big-line-chart" width="2992" height="1000" class="chartjs-render-monitor" style="display: block; height: 400px; width: 1197px;"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="columns container-chart">
        <div class="column">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                <span class="icon"><i class="bx bx-pie-chart-alt"></i></span>
                Distribución de ventas en unidades por canales
              </p>
              <a href="#" class="card-header-icon">
                <span class="icon"><i class="bx bx-line-chart"></i></span>
              </a>
            </header>
            <div class="card-content">
              <div class="chart-area">
                <canvas id="pie-chart-und" class="chartjs-render-monitor" style="display: block; height: 100%;"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                <span class="icon"><i class="bx bx-pie-chart-alt"></i></span>
                Ciudades a las que más estoy vendiendo
              </p>
              <a href="#" class="card-header-icon">
                <span class="icon"><i class="bx bx-line-chart"></i></span>
              </a>
            </header>
            <div class="card-content">
              <div class="chart-area">
                <canvas id="pie-chart-country" class="chartjs-render-monitor" style="display: block; height: 100%;"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns container-chart">
        <div class="column">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                <span class="icon"><i class="bx bxs-spreadsheet"></i></span>
                Top 10 Productos más vendidos (Precio)
              </p>
            </header>
            <div class="card-content container-scroll">
              <div class='list'>
                <ul id="topProductsPrice">
                </ul> 
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                <span class="icon"><i class="bx bxs-spreadsheet"></i></span>
                Top 10 Productos más vendidos (Unidades)
              </p>
            </header>
            <div class="card-content container-scroll">
              <div class='list'>
                <ul id="topProductsCant">
                </ul> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div id="Inventory" class="content-tab" style="display:none">
    <section class="section-dashboard">
      <div class="tile container-inventory">
        <div class="tile is-parent">
          <div class="card tile is-child radius-card">
            <div class="card-content">
              <div class="level is-mobile">
                <div class="level-item">
                  <div class="is-widget-label"><h3 class="subtitle is-spaced">
                    Unidades en Inventario
                  </h3>
                    <h1 class="title" id="totalInventory"></h1>
                  </div>
                </div>
                <div class="level-item has-widget-icon">
                  <div class="is-widget-icon"><span class="icon has-text-danger is-large"><i class='bx bxs-basket bx-md'></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns container-chart">
        <div class="column">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                <span class="icon"><i class="bx bxs-spreadsheet"></i></span>
                Productos con menos de 5 Unidades
              </p>
            </header>
            <div class="card-content container-scroll">
              <div class='list'>
                <ul id="productsUnd">
                </ul> 
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                <span class="icon"><i class="bx bxs-spreadsheet"></i></span>
                Productos sin Inventario
              </p>
            </header>
            <div class="card-content container-scroll">
              <div class='list'>
                <ul id="productsInventory">
                </ul> 
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns container-chart">
        <div class="column">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                <span class="icon"><i class="bx bxs-spreadsheet"></i></span>
                Productos menos Vendidos
              </p>
            </header>
            <div class="card-content container-scroll">
              <div class='list'>
                <ul id="lessProducts">
                </ul> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div id="Logistics" class="content-tab" style="display:none">
    <section class="section-dashboard">
      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <div class="card tile is-child radius-card">
            <div class="card-content">
              <div class="level is-mobile">
                <div class="level-item card-logistic">
                  <div class="is-widget-label"><h3 class="subtitle is-spaced subtitle-card">
                    Costo total de envíos
                  </h3>
                    <h1 class="title">$ 555</h1>
                  </div>
                </div>
                <div class="level-item has-widget-icon">
                  <div class="is-widget-icon"><span class="icon has-text-primary is-large"><i class='bx bxs-badge-dollar bx-md'></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tile is-parent">
          <div class="card tile is-child radius-card">
            <div class="card-content">
              <div class="level is-mobile">
                <div class="level-item card-logistic">
                  <div class="is-widget-label"><h3 class="subtitle is-spaced subtitle-card">
                    Tiempo promedio gestión Bodega
                  </h3>
                    <h1 class="title">5 días</h1>
                  </div>
                </div>
                <div class="level-item has-widget-icon">
                  <div class="is-widget-icon"><span class="icon has-text-info is-large"><i class='bx bxs-package bx-md'></i></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tile is-parent">
          <div class="card tile is-child radius-card">
            <div class="card-content">
              <div class="level is-mobile">
                <div class="level-item card-logistic">
                  <div class="is-widget-label"><h3 class="subtitle is-spaced subtitle-card">
                    Tiempo promedio de entrega al Cliente
                  </h3>
                    <h1 class="title">5 días</h1>
                  </div>
                </div>
                <div class="level-item has-widget-icon">
                  <div class="is-widget-icon"><span class="icon has-text-warning is-large"><i class='bx bx-time-five bx-md'></i></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <div class="card tile is-child radius-card">
            <div class="card-content">
              <div class="level is-mobile">
                <div class="level-item card-logistic">
                  <div class="is-widget-label"><h3 class="subtitle is-spaced subtitle-card">
                    Tiempo promedio total de logística
                  </h3>
                    <h1 class="title">5 días</h1>
                  </div>
                </div>
                <div class="level-item has-widget-icon">
                  <div class="is-widget-icon"><span class="icon has-text-danger is-large"><i class='bx bxs-watch bx-md'></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tile is-parent">
          <div class="card tile is-child radius-card">
            <div class="card-content">
              <div class="level is-mobile">
                <div class="level-item card-logistic">
                  <div class="is-widget-label"><h3 class="subtitle is-spaced subtitle-card">
                    Devoluciones de pedidos
                  </h3>
                    <h1 class="title"></h1>
                  </div>
                </div>
                <div class="level-item has-widget-icon">
                  <div class="is-widget-icon"><span class="icon has-text-info is-large"><i class='bx bxs-left-arrow-circle bx-md'></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tile is-parent">
          <div class="card tile is-child radius-card">
            <div class="card-content">
              <div class="level is-mobile">
                <div class="level-item card-logistic">
                  <div class="is-widget-label"><h3 class="subtitle is-spaced subtitle-card">
                    Cancelaciones del vendedor
                  </h3>
                    <h1 class="title"></h1>
                  </div>
                </div>
                <div class="level-item has-widget-icon">
                  <div class="is-widget-icon"><span class="icon has-text-danger is-large"><i class='bx bxs-x-circle bx-md'></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tile is-parent">
          <div class="card tile is-child radius-card">
            <div class="card-content">
              <div class="level is-mobile">
                <div class="level-item card-logistic">
                  <div class="is-widget-label"><h3 class="subtitle is-spaced subtitle-card">
                    Peso total de mercancía entregada
                  </h3>
                    <h1 class="title">44</h1>
                  </div>
                </div>
                <div class="level-item has-widget-icon">
                  <div class="is-widget-icon"><span class="icon has-text-success is-large"><i class='bx bx-cart-alt bx-md'></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div id="Account" class="content-tab" style="display:none">
    
  </div>
</div>

<script>
  $(function() {
    var start = moment().startOf('month');
    var end = moment().endOf('month');
    
    var ctx1 = $('#pie-chart-und');
    var ctx2 = $('#pie-chart-country');
    var ctx = $('#big-line-chart');
    var chartColors = {
      default: {
        primary: '#00D1B2',
        info: '#209CEE',
        danger: '#FF3860'
      }
    };
    var myChartUnd = new Chart(ctx1, {
      type: 'pie',
      data: {
        datasets: [
          {
            backgroundColor: [
              '#00D1B2',
              '#209CEE',
              '#FF3860'
            ],
            data: []
          },
        ],
        labels: []
      },
      options: {
      }
    });
    var myChartPrice = new Chart(ctx2, {
        type: 'pie',
        data: {
          datasets: [
            {
              backgroundColor: [
                '#00D1B2',
                '#209CEE',
                '#FF3860',
                '#8000FF',
                '#FFDD57',
                '#48C774',
                '#FF9D00',
                '#825500',
                '#9C55B5',
                '#FF00F7'
              ],
              data: []
            },
          ],
          labels: []
        },
        options: {
        }
      });
    var myChartLine = new Chart(ctx, {
      type: 'line',
      data: {
        datasets: [
          {
            fill: false,
            borderColor: chartColors.default.primary,
            borderWidth: 2,
            borderDash: [],
            borderDashOffset: 0.0,
            pointBackgroundColor: chartColors.default.primary,
            pointBorderColor: 'rgba(255,255,255,0)',
            pointHoverBackgroundColor: chartColors.default.primary,
            pointBorderWidth: 20,
            pointHoverRadius: 4,
            pointHoverBorderWidth: 15,
            pointRadius: 4,
            data: [],
          },
        ],
        labels: []
      },
      options: {
        maintainAspectRatio: false,
        responsive: true,
        legend: {
          display: false
        },
        tooltips: {
          backgroundColor: '#f5f5f5',
          titleFontColor: '#333',
          bodyFontColor: '#666',
          bodySpacing: 4,
          xPadding: 12,
          mode: 'nearest',
          intersect: 0,
          position: 'nearest'
        },
        scales: {
          yAxes: [{
            barPercentage: 1.6,
            gridLines: {
              drawBorder: false,
              color: 'rgba(29,140,248,0.0)',
              zeroLineColor: 'transparent'
            },
            ticks: {
              padding: 20,
              fontColor: '#9a9a9a'
            }
          }],

          xAxes: [{
            barPercentage: 1.6,
            gridLines: {
              drawBorder: false,
              color: 'rgba(225,78,202,0.1)',
              zeroLineColor: 'transparent'
            },
            ticks: {
              padding: 20,
              fontColor: '#9a9a9a'
            }
          }]
        }
      }
    });

    function getCities(cities) {
      let total = 0;
      let dataCities = [];
      let dataLabels = [];
      cities.forEach(item => total += item.quantity);
      cities.forEach(async item => {
        dataLabels.push(item.name.charAt(0).toUpperCase() + item.name.slice(1));
        dataCities.push(((item.quantity / total) * 100).toFixed(2));
      });
      return {dataCities, dataLabels};
    }

    function getChannels(channels) {
      let totalChannels = 0;
      let dataChannels = [];
      let dataLabelsChannels = [];
      channels.forEach(item => totalChannels += item.quantity);
      channels.forEach(async item => {
        dataLabelsChannels.push(item.name.charAt(0).toUpperCase() + item.name.slice(1));
        dataChannels.push(((item.quantity / totalChannels) * 100).toFixed(2));
      });
      return {dataChannels, dataLabelsChannels}
    }

    function graphics(dataLine, dataChannels, labelsChannels, dataCities, labelsCities, reset) {
      const labelsLine = ['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo'];
      if (reset) {
        removeData(myChartLine);
        removeData(myChartUnd);
        removeData(myChartPrice);
        addData(myChartLine, labelsLine, dataLine);
        addData(myChartUnd, labelsChannels, dataChannels);
        addData(myChartPrice, labelsCities, dataCities);
      } else {
        addData(myChartLine, labelsLine, dataLine);
        addData(myChartUnd, labelsChannels, dataChannels);
        addData(myChartPrice, labelsCities, dataCities);
      }
    }

    function addData(chart, labels, data) {
      chart.data.labels = labels;
      chart.data.datasets.forEach((dataset) => {
        dataset.data = data;
      });
      chart.update();
    }

    function removeData(chart) {
      chart.data.labels = [];
      chart.data.datasets.forEach((dataset) => {
        dataset.data = [];
      });
      chart.update();
    }

    function filterDate(start, end) {
      $('#reportrange span').html(start.locale('es').format('ll') + ' - ' + end.locale('es').format('ll'));
      $('#containerDashboard').hide();
      document.querySelector('.loading').innerHTML = '<div class="div-loading"><span class="icon has-text-info is-large icon-loading"><i class="bx bx-loader-circle bx-spin"></i></span></div>';
      io.socket.post('/filter/dashboard', { dateStart: start, dateEnd: end }, (resData, jwRes) => {
        if(jwRes.statusCode == 200) {
          let imgurl = <%- JSON.stringify(imgurl) %>;
          let dataCh = getChannels(resData.channels);
          let dataCit = getCities(resData.cities);
          $('#totalSales').text('$' + Math.round(resData.totalSales).toLocaleString('es-CO'));
          $('#totalProducts').text(resData.totalProducts);
          $('#totalOrders').text(resData.totalOrders);
          $('#totalInventory').text(resData.totalInventory);
          var ulTopProductsPrice = $('#topProductsPrice');
          var ulTopProductsCant = $("#topProductsCant");
          var ulProductsUnd = $("#productsUnd");
          var ulProductsInventory = $("#productsInventory");
          var ullessProducts = $("#lessProducts");

          ulTopProductsPrice.find('div').remove();
          ulTopProductsCant.find('div').remove();
          ulProductsUnd.find('div').remove();
          ulProductsInventory.find('div').remove();
          ullessProducts.find('div').remove();

          resData.topProductsPrice.forEach(item => {
            var imageProduct = "";
            if (item.product.images && item.product.images.length > 0) {
              item.product.images.forEach(image => {
                if(image.cover == 1){
                  imageProduct = image.file;
                }
              })
            }
            var srcImg = imageProduct ? imgurl + '/images/products/' + item.product.id + '/' + imageProduct : "/images/not-available.png";
            var listItem = '<div class="list-item"><figure class="image is-48x48 product-image"><img class="is-rounded" src='+ srcImg +' /></figure><div class="product-description is-uppercase"><h5>' + item.product.name + '</h5></div> <div class="product-sku">' + item.product.reference + '</div></div>';
            ulTopProductsPrice.append(listItem);
          });
          resData.topProductsCant.forEach(item => {
            var imageProduct = "";
            if (item.product.images && item.product.images.length > 0) {
              item.product.images.forEach(image => {
                if(image.cover == 1){
                  imageProduct = image.file;
                }
              })
            }
            var srcImg = imageProduct ? imgurl + '/images/products/' + item.product.id + '/' + imageProduct : "/images/not-available.png";
            var listItem = '<div class="list-item"><figure class="image is-48x48 product-image"><img class="is-rounded" src='+ srcImg +' /></figure><div class="product-description is-uppercase"><h5>' + item.product.name + '</h5></div> <div class="product-sku">' + item.product.reference + '</div></div>';
            ulTopProductsCant.append(listItem);
          });
          resData.productsUnd.forEach(item => {
            var imageProduct = "";
            if (item.images && item.images.length > 0) {
              item.images.forEach(image => {
                if(image.cover == 1){
                  imageProduct = image.file;
                }
              })
            }
            var srcImg = imageProduct ? imgurl + '/images/products/' + item.id + '/' + imageProduct : "/images/not-available.png";
            var listItem = '<div class="list-item"><figure class="image is-48x48 product-image"><img class="is-rounded" src='+ srcImg +' /></figure><div class="product-description is-uppercase"><a href="/products/edit/' + item.id + '"><h5>' + item.name + '</h5></a></div> <div class="product-sku">' + item.reference + '</div></div>';
            ulProductsUnd.append(listItem);
          });
          resData.productsInventory.forEach(item => {
            var imageProduct = "";
            if (item.images && item.images.length > 0) {
              item.images.forEach(image => {
                if(image.cover == 1){
                  imageProduct = image.file;
                }
              })
            }
            var srcImg = imageProduct ? imgurl + '/images/products/' + item.id + '/' + imageProduct : "/images/not-available.png";
            var listItem = '<div class="list-item"><figure class="image is-48x48 product-image"><img class="is-rounded" src='+ srcImg +' /></figure><div class="product-description is-uppercase"><a href="/products/edit/' + item.id + '"><h5>' + item.name + '</h5></a></div> <div class="product-sku">' + item.reference + '</div></div>';
            ulProductsInventory.append(listItem);
          });
          resData.lessProducts.forEach(item => {
            var imageProduct;
            if (item.product.images && item.product.images.length > 0) {
              item.product.images.forEach(image => {
                if(image.cover == 1){
                  imageProduct = image.file;
                }
              })
            }
            var srcImg = imageProduct ? imgurl + '/images/products/' + item.product.id + '/' + imageProduct : "/images/not-available.png";
            var listItem = '<div class="list-item"><figure class="image is-48x48 product-image"><img class="is-rounded" src='+srcImg +' /></figure><div class="product-description is-uppercase"><h5>' + item.product.name + '</h5></div> <div class="product-sku">' + item.product.reference + '</div></div>';
            ullessProducts.append(listItem);
          });
          
          graphics(resData.ordersByDay, dataCh.dataChannels, dataCh.dataLabelsChannels, dataCit.dataCities, dataCit.dataLabels, true);
          document.querySelector('.loading').innerHTML = '';
          $('#containerDashboard').show();
        }
      });
    }

    $('#reportrange').daterangepicker({
      startDate: start,
      endDate: end,
      ranges: {
        'Últimos 7 días': [moment().subtract(6, 'days'), moment()],
        'Últimos 30 días': [moment().subtract(29, 'days'), moment()],
        'Este mes': [moment().startOf('month'), moment().endOf('month')],
        'El mes pasado': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
      },
      locale: {
        "separator": " - ",
        "applyLabel": "Filtrar",
        "cancelLabel": "Cancelar",
        "customRangeLabel": "Fecha predefinida",
        "weekLabel": "W",
        "daysOfWeek": ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
        "monthNames": ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", 
          "Septiembre", "Octubre", "Noviembre",  "Diciembre"
        ],
      },
      applyButtonClasses: "is-primary",
      cancelButtonClasses: "is-light",
      buttonClasses: "button is-small",
    }, filterDate);
    
    filterDate(start, end);
  });
</script>
