<div class="container">
    <div class="columns">
        <div class="column is-two-thirds">
            <p class="container has-text-centered">
                <embed src="data:application/pdf;base64,<%-guia%>" width="100%" height="500">
            </p>
        </div>
        <div class="column is-one-third">
            <p class="container has-text-centered">
                <embed src="data:application/pdf;base64,<%-label%>" width="100%" height="500">
            </p>
        </div>
    </div>
</div>