<div class="container">
    <div class="columns">
        <%if(guia!==null){%>
        <div class="column <%if(label!==null){%>is-two-thirds<%}%>">
            <p class="container has-text-centered">
                <embed src="data:application/pdf;base64,<%-guia%>" width="100%" height="500">
            </p>
        </div>
        <%}%>
        <%if(label!==null){%>
        <div class="column <%if(label!==null){%>is-one-third<%}%>">
            <p class="container has-text-centered">
                <embed src="data:application/pdf;base64,<%-label%>" width="100%" height="500">
            </p>
        </div>
        <%}%>
    </div>
</div>